body {
  background-color: #6495ed;
}
#titre {
  font-size: 3em;
  text-align: center;
  margin: 5%;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li {
  list-style: none;
  border: 2px solid;
  margin: 1%;
  padding: 1%;
  width: 20%;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s, width 0.3s;
}
ul li:hover {
  background-color: #ffdab9;
  width: 22%;
}
#sections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
section {
  display: flex;
  padding: 1%;
  margin: 5%;
  width: 40%;
  height: 25%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section h1 {
  font-size: 2em;
}
section p {
  font-size: 1.2em;
}
#section1 {
  background-color: #fa8072;
}
#section2 {
  background-color: #808000;
}
#footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1%;
  padding-left: 5%;
  background-color: #daa520;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  font-size: 1.2em;
}
footer #partie2Footer {
  display: flex;
  flex-direction: column;
  width: 40%;
}
