body {
  background-color: #6495ed;
  font-family: 'Roboto', sans-serif;
}
header {
  background-color: #daa520;
  padding-top: 1%;
  padding-bottom: 5%;
  box-shadow: 0px 0px 20px;
}
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
ul li {
  list-style: none;
  border: 2px solid;
  margin: 1%;
  padding: 1%;
  width: 20%;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  transition: background-color 0.3s, width 0.3s;
}
ul li:hover {
  background-color: #ffdab9;
  width: 22%;
}
#titre {
  font-size: 3em;
  text-align: center;
  margin: 5%;
}
#sections {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
}
section {
  display: flex;
  padding: 1%;
  width: 25%;
  line-height: 200%;
  margin-bottom: 5%;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section h1 {
  font-size: 2em;
  padding-bottom: 5%;
}
section p {
  font-size: 1.2em;
}
#section1 {
  background-color: #fa8072;
}
#section2 {
  background-color: #808000;
}
#section3 {
  background-color: #008080;
}
#footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5%;
  background-color: #daa520;
  box-shadow: 0px 0px 20px;
}
footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: baseline;
  font-size: 1.2em;
  line-height: 150%;
}
footer #bold {
  font-weight: bolder;
  font-size: 1.4em;
  line-height: 180%;
  width: 30%;
}
footer #partie2Footer {
  display: flex;
  flex-direction: column;
  width: 50%;
}
footer #partie2Footer p {
  padding-top: 5%;
  padding-bottom: 5%;
}
@media screen and (max-width: 800px) {
  ul {
    flex-direction: column;
  }
  ul li {
    width: 90%;
    transition: width 0.3s;
  }
  ul li:hover {
    width: 95%;
  }
  #titre {
    font-size: 2em;
  }
  #sections {
    width: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 2.5%;
  }
  section {
    width: 100%;
  }
  footer {
    flex-direction: column;
    justify-content: center;
  }
  footer #bold {
    font-size: 1.2em;
    width: 100%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  footer #partie2Footer p {
    display: none;
  }
}
